<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>전체 관리</title>
</head>
<body>

<section>
    <div class="container">
        <div class="d-flex justify-content-center card p-3 my-4 bg-light border">
            <div class="d-flex justify-content-start my-2" >
                <a class="btn btn-dark my-2" style="width: 10rem;" th:href="@{/admins/sellers}">판매자 등록 관리</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>