<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>판매자 등록 관리 세부 정보</title>
</head>
<body>

<section>
        <div class="container">
            <div class="card p-3 my-2 bg-light border">
                <h1>판매자 등록 관리 세부 정보</h1>
                <label for="email">이메일</label>
                <input class="form-control my-2" type="text" title="이메일 입력" placeholder="이메일" id="email" name="email" th:value="${sellerInfo.email}" disabled>

                <label for="contact">연락처</label>
                <input class="form-control my-2" type="text" title="연락처 입력" placeholder="연락처" id="contact" name="contact" th:value="${sellerInfo.contact}" disabled>

                <label for="zoneCode">우편번호</label>
                <input class="form-control my-2 w-50" type="text" title="우편번호 입력" placeholder="우편번호" id="zoneCode" name="zoneCode" th:value="${sellerInfo.zoneCode}" disabled>

                <label for="subAddress">주소</label>
                <input class="form-control my-2" type="text" title="주소 입력" placeholder="주소" id="subAddress" name="subAddress" th:value="${sellerInfo.subAddress}" disabled>

                <label for="detailedAddress">상세주소</label>
                <input class="form-control my-2" type="text" title="상세주소 입력" placeholder="상세주소" id="detailedAddress" name="detailedAddress" th:value="${sellerInfo.detailedAddress}" disabled>

                <!-- 삭제, 권한 부여 버튼 -->
                <div class="d-flex justify-content-end my-2">
                    <form method="post" th:action="@{/admins/sellers/{param}/cancel(param=${sellerInfo.memberId})}">
                        <button type="submit" class="btn btn-dark my-2 mx-2" style="width: 10rem;">권한 취소</button>
                    </form>
                    <form method="post" th:action="@{/admins/sellers/{param}/add(param=${sellerInfo.memberId})}">
                        <button type="submit" class="btn btn-dark my-2 mx-2" style="width: 10rem;">권한 부여</button>
                    </form>
                </div>
            </div>
        </div>
</section>

</body>
</html>