<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>memberModify</title>
</head>
<body>

<section>
    <form id="updateForm" name="updateForm" enctype="multipart/form-data" method="post" th:action="@{/members/mypage/modify}" th:object="${memberModifyDto}">
        <div class="container">
            <div class="card p-3 my-2 bg-light border">
                <h1>수정페이지</h1>
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
                </div>

                <label for="imageFile">이미지 수정</label>
                <input class="form-control my-2" type="file" accept="image/gif, image/jpeg, image/png"
                       name="imageFile" id="imageFile" th:field="*{imageFile}">

                <label for="stateMessage">상태 메세지</label>
                <input class="form-control my-2" type="text" title="상태 메세지" placeholder="상태 메세지" id="stateMessage" name="stateMessage" th:field="*{stateMessage}">
                <div class="field-error" th:errors="*{stateMessage}"></div>

                <label for="nickname">닉네임</label>
                <input class="form-control my-2" type="text" title="닉네임 입력" placeholder="닉네임" id="nickname" name="nickname" th:field="*{nickname}">
                <div class="field-error" th:errors="*{nickname}"></div>

                <label for="username">이름</label>
                <input class="form-control my-2" type="text" title="이름 입력" placeholder="이름" id="username" name="username" th:field="*{username}">
                <div class="field-error" th:errors="*{username}"></div>

                <label for="contact">연락처</label>
                <input class="form-control my-2" type="text" title="연락처 입력" placeholder="연락처" id="contact" name="contact" th:field="*{contact}">
                <div class="field-error" th:errors="*{contact}"></div>

                <!-- 주소 다음 API 이용 (주소 입력) -->
                <th:block layout:fragment="script">
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                            $(document).ready(function() {
                                $('#searchAddress').click(function() {
                                    new daum.Postcode({
                                        oncomplete: function(data) {
                                            // 팝업에서 검색결과 항목을 클릭했을 때 실행할 코드를 작성하는 부분
                                            $('#zoneCode').val(data.zonecode);

                                            // 도로명 주소
                                            if(data.userSelectedType === 'R') {
                                                if(data.buildingName === '') {
                                                    $('#subAddress').val(data.roadAddress);
                                                } else {
                                                    $('#subAddress').val(data.roadAddress + " (" + data.buildingName + ")");
                                                }
                                            }
                                            // 지번 주소
                                            if(data.userSelectedType === 'J') {
                                                $('#subAddress').val(data.jibunAddress);
                                            }
                                        }
                                    }).open();
                                });
                            });
                        /*]]>*/
                    </script>
                </th:block>
                <div class="btn btn-dark my-2" style="width: 10rem;" id="searchAddress">주소찾기</div>

                <label for="zoneCode">우편번호</label>
                <input class="form-control my-2" style="width: 10rem;" type="text" title="우편번호 입력" placeholder="우편번호" id="zoneCode" name="zoneCode" th:field="*{zoneCode}">
                <div class="field-error" th:errors="*{zoneCode}"></div>

                <label for="subAddress">주소</label>
                <input class="form-control my-2" type="text" title="주소 입력" placeholder="주소" id="subAddress" name="subAddress" th:field="*{subAddress}">
                <div class="field-error" th:errors="*{subAddress}"></div>

                <label for="detailedAddress">상세주소</label>
                <input class="form-control my-2" type="text" title="상세주소 입력" placeholder="상세주소" id="detailedAddress" name="detailedAddress" th:field="*{detailedAddress}">
                <div class="field-error" th:errors="*{detailedAddress}"></div>

                <button class="btn btn-dark  my-2" type="submit">수정</button>
            </div>
        </div>
    </form>
</section>

</body>
</html>