.cardComment:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.cardComment {
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.header-span:hover {
    opacity: 0.5;
}

.header-span {
    display: block;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.media-min {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1050px) {
    .media-min {
        width: 75%;
    }
}

@media (max-width: 860px) {
    .media-min {
        width: 100%;
    }
}
