<!DOCTYPE html>
<html th:replace="~{layouts/homeLayout :: homeLayout(~{::title}, ~{::section}, ~{::link})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>comment</title>
    <link th:href="@{/css/comment.css}" rel="stylesheet">
</head>
<body>

    <section class="media-min">
        <div class="card p-3 cardComment mx-auto my-3" style="float: none;" th:each="comment : ${comments}">
            <a th:href="@{/comments/{commentId}(commentId=${comment.id})}" style="text-decoration: none;" class="text-muted">
                <span class="card-header header-span" th:text="${comment.title}">Featured</span>
            </a>
            <div class="card-body">
                <h5 class="card-title" th:text="${comment.description}">Special title treatment</h5>
            </div>
        </div>
    </section>

</body>
</html>